<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Household Account Book</title>
  <meta charset="utf-8" />
  <link th:href="@{/css/medical.css}" rel="stylesheet">
  	
<link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
</head>

<body>
<div class="input-container">
    <form action="/medical" method="POST">
      <h1>病院登録</h1>
      <table id="edit_table" class="table_center">
        <tr>
            <th><label>病院id</label></th>
          </tr>
          <tr>
            <td><input type="text" name="hospital_id"></td>
          </tr>
        <tr>
          <th><label>病院名</label></th>
        </tr>
        <tr>
          <td><input type="text" name="hospital_name"></td>
        </tr>
        <tr>
            <th><label>交通費</label></th>
          </tr>
          <tr>
            <td><input type="number" name="transportation_cost"></td>
          </tr>
      </table>
   
        <button type="submit">登録する</button>

        <div class="hospital">一覧</div>
      </div>
      
    </form>
    <a href="/calender">Back</a>

    

  </div>
  </body>
